.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 62%;
  font-size: 1.5rem;
  border: 0.1rem solid rgba(86, 165, 235, 0.3);
  background-color: white;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #1f1e32;
  color: white;
}

.choice-text {
  padding: 1.5rem 2.5rem;
}
