.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 62%;
  font-size: 1.5rem;
  border: 0.1rem solid rgba(86, 165, 235, 0.3);
  background-color: white;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #1f1e32;
  color: white;
}

.choice-text {
  padding: 1.5rem 2.5rem;
}

.timer {
  font-size: 4rem;
  padding: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 2rem;
  border: #1f1e32;
}

.score {
  font-size: 3rem;
  padding: 2rem;
}

.new-game {
  padding: 1rem;
  margin-top: 2rem 0;
}

.top3 {
  width: 60%;
  font-size: 2rem;
}

.high-score {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
